<%-layout('layout')%>
    <div id="main">
        <%-partial('sidebar')%>
            <div id="content">
                <div class="panel">
                    <div class="header">
                        <ul class="breadcrumb">
                            <li>
                                <a herf="/">Home</a>
                                <span class="divider">/</span>
                            </li>
                            <li>Sign In</li>
                        </ul>
                    </div>

                    <div class="inner">
                        <% if(typeof(error) != 'undefined' && error){%>
                            <div class="alert alert-eeor">
                                <strong>
            <%=error%>
        </strong>
                            </div>
                            <%}%>
                                <% if(typeof(success) != 'undefined' && success){%>
                                    <div class="alert alert-eeor">
                                        <strong>
                    <%=sucess%>
                </strong>
                                    </div>
                                    <%}%>

                                        <form action="/signip" method='post' id="signip_form" class="form-horizontal">
                                            <div class="control-group">
                                                <label for="" class="control-label">User Name: </label>
                                                <div class="controls">
                                                    <input type="text" name='name' id="name" class="input-xlarge">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label for="" class="control-label">Password: </label>
                                                <div class="controls">
                                                    <input type="text" name='pass' id="pass" class="input-xlarge">
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <input type="submit" class="span-primary" value='Sign In'>
                                                <input type="reset" class="span-info" value='Reset Password'>
                                            </div>
                                        </form>
                    </div>
                </div>
            </div>
    </div>