<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--original reference -->
    <!-- <link rel="stylesheet" href='/public/stylesheets/style.css'>
    <script src='/public/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/public/stylesheets/bootstrap-2.3.2/js/bootstrap.min.js'></script> -->

    <link rel='stylesheet' href='/public/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/public/stylesheets/common.css'>
    <link rel='stylesheet' href='/public/stylesheets/style.css'>
    <link rel='stylesheet' href='/public/stylesheets/jquery.atwho.css'>
    <script src='/public/jquery-2.1.0.js'></script>
    <script src='/public/bootstrap/js/bootstrap.js'></script>
</head>

<body>
    <%-partial('navbar')%>
        <%-body%>
</body>

</html>