<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href='/public/stylesheets/bootstrap-2.3.2/css/bootstrap.css'> -->
    <!-- <link rel="stylesheet" href='/public/stylesheets/jquery.atwho.css'> -->
    <link rel="stylesheet" href='/public/stylesheets/style.css'>
    <!-- <link rel="stylesheet" href='/public/stylesheets/custom.css'> -->

    <script src='/public/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/public/stylesheets/bootstrap-2.3.2/js/bootstrap.min.js'></script>
</head>


<body>
    <%-partial('navbar')%>

</body>

</html>