<nav class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="">
                <img src="<%=config.site_logo%>" alt="">
            </a>

            <form action="/search" id='search_form' class="navbar-search">
                <input type="text" value='' class="icon_size search-query span3 ">
            </form>
            <!-- <input type="text" value='' class="icon-bar icon-white  span3"> -->
            <ul class="nav pul-right></ul>
           
        </div>
    </div>
</nav>